@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

#frmCtg {
    margin: 50px auto 0;
}

#frmCtg>#categorias {
    font-family: 'Ubuntu Medium', sans-serif;
    font-weight: 400;
    font-size: 40px;
    width: 70%;
    margin: 20px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 5px;
    margin-left: 170px;
}

#check {
    height: 90px;
    margin-left: 35px;
}

#detetorFts , #limiteFts {
    min-width: 40px;
    min-height: 40px;
}

#limite {
    min-width: 35px;
    min-height: 35px;
}

label {
    font-size: 35px;
    margin-left: 15px;
}

.detetor {
    display: inline-flex;
    margin-left: 80px;
}

section {
    text-align: center;
}