@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

#frmAlbum {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto;

}

#frmAlbum #tituloAlbum {
    font-family: 'Ubuntu Medium', sans-serif;
    font-weight: 400;
    font-size: 40px;
    width: 50%;
    margin: 50px 0;
    padding: 20px;
    border: 3px solid black;
    border-radius: 5px;
    /* margin-left: 170px; */
}

#check {
    height: 90px;
    margin-left: 35px;
}

#checkAuto {
    min-width: 40px;
    min-height: 40px;
}

label {
    font-size: 35px;
    margin-left: 15px;
}

.automatizar {
    display: inline-flex;
    margin-left: -75px;
}

section {
    text-align: center;
}

#ajudaAutom>img {
    height: 35px;
    margin-left: 5px;
}

#ajuda{
    width: 450px;
    margin-left: 770px;
    margin-top: -85px;
    padding: 15px;
    border: 3px solid grey;
    border-radius: 20px;
    background-color:#C0C0C0;
    /*display: none;*/
}


#ajuda>button {
    margin-left: 430px;
}