@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body{
    font-family: 'Ubuntu Light', sans-serif;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding-top: 170px;
    height: calc(720px - 170px);
    width: 1280px;
}

nav {
    position: fixed;
    z-index: +1;
    background-color: white;
    top: 0;
    width: 1280px;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 170px;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5vw solid black;
}

nav .spacer{
    flex-grow: 1;
}

nav button{
    width: 50px;
}

nav button img{
    width: 80px;
}

button{
    background: none;
    border: 0;
}

main{
    max-width: 1280px;
    height: 50px;
    position: relative;
}

.titulo {
    font-family: "Ubuntu", sans-serif;
    float: left;
    margin-left: 40px;
    font-size: 75px;
    font-weight: 500;
}

.foto{
    margin: auto 20px;
    font-family: "Ubuntu";
    font-size:20px;
    position: relative;
    display: block;
    background-image: url('../images/photo.png');
    background-size: 200px;
    background-repeat: no-repeat;
    width:200px;
    max-width: 200px;
    height: 225px;
    text-align: center;
    padding: auto 25px;
}

.galeria{
    position: relative;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
}