@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


main{
    font-family: 'Ubuntu', sans-serif;

    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: auto 0;

    height: 720px;
    width: 1280px;

}

.barraSuperior {
    margin: auto;
    height: 15%;
    justify-items: center;
    align-items: center;

    border-bottom: 0.5vw solid black;

}

#titulo {
    float: left;
    margin-top: auto;
    font-size: 75px;
}

#nav-links {
    height: 17%;
}

#nav-links>a {
    float: right;
    height: 80px;
    justify-items: center;
    align-items: center;

    border: 0.25vw solid black;
}

img {
    height: 90%;
}

