.importarOpcoes {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
.importarOpcoes figcaption {
    font-size: 45px;
    font-weight: 600
}

.importarOpcoes img{
    width: 250px;
    height: 240px;
    margin: 50px;
}

.importarOpcoes a {
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.retroceder {
    float: left;
    margin-top: 7px;
    margin-left: 40px;
}

nav {
    border-bottom: none !important;
}

.prompt {
    font-size: 70px;
}
