.importarOpcoes {
    display: inline-flex;
    
}
.importarOpcoes>figcaption {
    font-size: 45px;    /**não consegui por as figcaptions debaixo de cada figura,
                            nem sei se devemos fazer com figcaption**/
}

.importarOpcoes img{
    width: 175px;
    margin: 50px;
}

.retroceder {
    float: left;
    margin-top: 7px;
    margin-left: 40px;
}

main {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    border-bottom: none !important;
}

.prompt {
    font-size: 50px;
}

.importarOpcoes>figcaption {
    font-size: 45px;
}