@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


main{
    font-family: 'Ubuntu', sans-serif;

    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: auto 0;

    height: 720px;
    width: 1280px;
}

.opcoesLogin {
    margin: auto;
    height: 35%;
    width: 35%;
    justify-items: center;
    align-items: center;

    border: 0.5vw solid black;
    border-radius: 20px;
}

header {
    font-size: 50px;
}

