#titulo {
    float: left;
    margin-left: 40px;
    font-size: 55px;
}

#nav-links {
    display: flex;
    position: absolute;
    right: 10px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#nav-links a {
    height: 50px;
    padding: 13px;
    margin: auto 10px;
    border: 0.25vw solid black;
    border-radius: 40px;
}

img {
    height: 90%;
}

.vazio{
    display: flex;
    position:relative;
    top: 0;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 20px;
}

.vazio .textoVazio{
    margin: 10px auto -35px;
}

main .textoImportar{
    position: fixed;
    top: calc(720px - 140px);
    left: calc(1280px - 550px);
}

.more {
    position: fixed;
    top: calc(720px - 110px);
    left: calc(1280px - 300px);
    border: 5px solid black;
    z-index: 2;
    background-color: white;
}

.more>button {
    height: 70px;
}

#galeria {
    max-height: calc(720px - 170px - 30px);
    overflow: scroll;
    overflow-x: hidden;
    margin-left: -25px;
}

#galeria::-webkit-scrollbar {
    width: 50px;
}

#galeria::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
  }

#galeria::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }

#convite {
    display: flex;
    flex-direction: row;
    height: 100px;
    /* border: 5px solid black; */
    justify-content: center;
    align-items: center;
}

/* The Modal (background) */
#apagar {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: calc(1280px + 10px); /* Full width */
    height: calc(720px - 90px); /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    flex-direction: column;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 50pt;
    border: 1px solid #888;
    border-radius: 20pt;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .fechar {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .fechar:hover,
  .fechar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  .modal-content .opcoes{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 50pt;
  }

  .modal-content .botao{
      display: inline-block;
      padding: 50px;
      /* margin: 0 100pt; */
      border: 2px solid black;
      border-radius: 5pt;
      cursor: pointer;
  }

  .modal-content .vermelho{
      background-color: #ef5350;
  }

  .albuns {
    font-size: 30px;
    border: 4px solid #FFBF00;
    background-color: #FFBF00;
    border-radius: 10px;
    height: 70px;
    width: 135px;
    margin-left: -950px;
  }