#titulo {
    float: left;
    margin-left: 40px;
    font-size: 75px;
}

#nav-links {
    display: inline-flex;
    position: absolute;
    right: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#nav-links>a {
    float: right;
    height: 80px;
    justify-items: center;
    align-items: center;
    padding: 13px;
    border: 0.25vw solid black;
    border-radius: 40px;
}

img {
    height: 90%;
}

.vazio{
    display: flex;
    position:relative;
    top: 50px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 30px;
}

.vazio .textoVazio{
    margin: 10px auto -35px;
}

.importar {
    display: flex;
    font-size: 30px;
    width: 720px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 50px;
}


