.partilharOpcoes {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; 
}
.partilharOpcoes figcaption {
    font-size: 45px;
    font-weight: 600
}

.partilharOpcoes img{
    width: 180px;
    height: 170px;
    margin: 30px;
}

.partilharOpcoes a {
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.retroceder {
    float: left;
    margin-top: 7px;
    margin-left: 40px;
}

nav {
    border-bottom: none !important;
}

.prompt {
    font-size: 70px;
}
